{% extends 'layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="{% static 'styles/swiper-bundle.min.css' %}"/>
{% endblock link %}


{% block body %}
<h1 class="home-lg hidden"><a href="{% url 'home' %}">GM</a></h1>

<section class="Hero">
    <h3> <a href="{% url 'login' %}" class="user hidden">Login</a> </h3>
    <div class="hidden sankini-logo">
        {% comment %} <div class="light hidden"></div> {% endcomment %}
            <img src="{% static 'images/icons8-bass-clef-100.png' %}" alt="">
    </div>
        
    <div class="header">
        <h1>Experience the power of Good Music</h1> <br>
        <p class="home hidden">We're a brand that love to create music that makes people feel something. <br> We're really passionate about our music, and we want to share it with the world.</p>
    </div>
      <div class="cta"> 
        <h3> <a href="{% url 'register' %}" class=" hidden">Start Listening</a> </h3></h1>
        
    <div>  
</section>

<section class="slider-info">
   <div class='title'>
        <h2 class="home hidden">Music Genre</h2>
    </div>
    <h1></h1>
    <div class='media-scroller snaps-inline'>
        <div class='media-element '> 
            <p class="first-image"> RnB </p>
            <img class='' src="{% static 'images/rnb.jpg' %}">
            <p class='title hidden' > best rnb music</p>
        </div>
        <div class='media-element '> 
            <p class="first-image"> HipHop </p>
            <img src="{% static 'images/trap.jpg' %}">
            <p class='title hidden'> HipHop</p>
        </div>
        <div class='media-element '> 
            <p class="first-image"> Reggea </p>
            <img src="{% static 'images/mykey.jpg' %}">
            <p class='title hidden'> Reggea</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Dancehall </p>
            <img src="{% static 'images/ghost.jpg' %}">
            <p class='title hidden'> Dancehall</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Souls </p>
            <img src="{% static 'images/pic1.jpg' %}">
            <p class='title hidden'> Souls</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Acoustics </p>
            <img src="{% static 'images/pop.jpg' %}">
            <p class='title hidden'> Acoustics</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Jazz </p>
            <img src="{% static 'images/live.jpg' %}">
            <p class='title hidden'> Jazz</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Pop </p>
            <img src="{% static 'images/mykey.jpg' %}">
            <p class='title hidden'> Pop</p>
        </div>
        <div class='media-element'> 
            <p class="first-image"> Old School </p>
            <img src="{% static 'images/collo.jpg' %}">
            <p class='title hidden'> Old School</p>
        </div>
        <div class='media-element'> 
           <p class="first-image"> Hillsongs </p> 
            <img src="{% static 'images/lights.jpg' %}">
            <p class='title hidden'> Hillsongs</p>
        </div>
    </div>
            
</section>


{% comment %} <section class="services">
    <div class='service-content'>
        <h2 >Services</h2>
    <p class="hidden">
        The things you own end up owning you. <br>
        It's only after you lose everything that you're free to do anything
    </p>
    </div>
    <img src="{% static 'images/feelit.jpg' %}">

</section> {% endcomment %}
<section class="conclusion">
<h2 class="hidden"> More of us</h2>
    <div class="logos">
        <div class="logo hidden">
            <img src="{% static 'images/more1.jpg' %}" alt="">
        </div>
        <div class="logo hidden">
            <img src="{% static 'images/more2.jpg' %}" alt="">
        </div>
        <div class="logo hidden">
            <img src="{% static 'images/more3.jpg' %}" alt="">
        </div>
        <div class="logo hidden">
            <img src="{% static 'images/more4.jpg' %}" alt="">
        </div>
      
    </div>
     <div class="description-container">
         <span class="top"> Join Us Now and <br> experience</span>
        <span class="middle"> Good Music</span>
        <span class="bottom"> anywhere you Are.</span>
    </div>
</section>
<section class="live-events">
    <h2 class="hidden">Payment methods</h2>
    <p>
        The things you own end up owning you. <br>
        It's only after you lose everything that you're free to do anything
    </p>

</section>
    

{% endblock body %}
