{% extends 'layout.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock link %}

{% block body %}
{% comment %} <h1> register</h1> {% endcomment %}
<div class="reg-title">
    <h2> Join Us Now</h2>
</div> 

<span style="color: white; top: 28%; position:absolute
    ;" >
 <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>        {% comment %} {% for error in form.errors %}
        <p> {{error}} </p>
        {% endfor %} {% endcomment %}
    
    
    </span>
<section class="container">
    <div class='glow'></div>
    <div class='box'>
        <div class='borderline'></div>
        
        <form action="{% url 'register'%}" method="POST">
            {% csrf_token %}
            <h1> Sign Up</h1><br>
            <div class="inputBox">
                {{form.username}}
                {% comment %} <input type="text"  required> {% endcomment %}
                <span>Username</span>
                <i></i>
            </div><br>
            <div class="inputBox" >
                {{form.email}}
            {% comment %} <input type="text"  required> {% endcomment %}
            <span>E-mail</span>
            <i></i>
        </div><br>
        <div class="inputBox">
                {{form.age}}
                {% comment %} <input type="text"  required> {% endcomment %}
                <span>Age</span>
                <i></i>
            </div><br> 
             <div class="inputBox">
                {{form.day}}
                {% comment %} <input type="text"  required> {% endcomment %}
                <span>DOB</span>
                <i></i>
            </div><br> 
            <div class="inputBox">
                {{form.month}}
                {% comment %} <input type="text"  required> {% endcomment %}
            <span>Month</span>
                <i></i>
            </div><br> 
             <div class="inputBox">
                 {{form.year}}
                 {% comment %} <input type="text"  required> {% endcomment %}
             <span>Year</span>
                 <i></i>
             </div><br> 
        <div class="inputBox">
                {% comment %} <input type="password"  required> {% endcomment %}
                {{form.password1}}
                <span>password</span>
                <i></i>
            </div><br>
            <div class="inputBox">
                {% comment %} <input type="password"  required> {% endcomment %}
                {{form.password2}}
                <span>confirm password</span>
                <i></i>
            </div>
           
            <div class="links">
                <a href=""></a>
                <a href="{% url 'login' %}">Sign in instead?</a>
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</section>






{% endblock body %}


