{% extends 'layout.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock link %}

{% block body %}
{% comment %} <h1> register</h1> {% endcomment %}
<div class="reg-title">
    <h2> Join Us Now</h2>
</div>
<section class="container">
    <div class='glow'></div>
    <div class='box'>
        <div class='borderline'></div>
        
        <form action="{% url 'register'%}" method="POST">
            {% csrf_token %}
            <h1> Sign Up</h1><br>
           {{form.username}}
        {% comment %} <div class="inputBox">
            <input type="text"  required>
            <span>Username</span>
            <i></i>
        </div><br>
        <div class="inputBox">
            <input type="text"  required>
            <span>E-mail</span>
            <i></i>
        </div><br>
        <div class="inputBox">
            <input type="password"  required>
            <span>password</span>
            <i></i>
        </div><br>
        <div class="inputBox">
            <input type="password"  required>
            <span>confirm password</span>
            <i></i>
        </div> {% endcomment %}
        <div class="links">
            <a href=""></a>
            <a href="{% url 'login' %}">Sign in instead?</a>
        </div>
        <input type="submit" value="Sign Up">
        </form>
    </div>
</section>






{% endblock body %}


