{% extends 'base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'styles/songs.css' %}">{% endblock link %}

{% block body %}

<h1> songs </h1><br>
<section class="navbar_container">
	<div class=logo_container>


	</div>
	<div class="search_container">


	</div>

	<div class="profile_container">
		<div class="greetings_container">
			<h4> {{time}},</h4>
			<h5> {{request.user}}  </h5>
			<br>
		</div>

		<div class="profile">

		</div>

	</div>

</section>
<a href="{% url 'search'  %}">
	search
</a>

<h3 ><a style="color:red; text-decoration:none;" href="{% url 'logout' %}"> logout</a></h3>

{%for genre in gen_items%}
<li>{{genre}}</li>
{%endfor%}







{% endblock body %}

