/* Default styles for all screen sizes */

/* Large screens (desktops) */
@media (min-width: 1200px) {
    /* Add your styles for large screens here */
}

/* Medium screens (tablets and small desktops) */
@media (max-width: 1199px) {
    
}

/* Small screens (tablets and large mobile devices) */
@media (max-width: 992px) {
    /* Add your styles for small screens here */
}

/* Extra small screens (mobile devices) */
@media (max-width: 768px) {
    /* Add your styles for extra small screens here */
}

/* Extra small screens (mobile devices) */
@media (max-width: 576px) {
    /* Add your styles for extra small screens here */
    .description-container{
        top: 4rem;
    }
}

/* Custom media query - example */
@media (min-width: 289px) {
    .description-container{
        top: 4rem;
    }
    /* Add your custom styles for a specific screen size here */
}


body{

    background-color: rgb(2, 2, 2);
    color:aliceblue;
 
}
.c-line{
    background-color: rgb(47, 255, 64);
}

.header{
    
    position: relative;
    

}
.header h1{

    margin-left: 2% ;
    font-size: 3rem;
    -webkit-text-stroke: 0;
    position: relative;
    /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
    
}
.header p{
    margin-left: 4% ;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
@media (max-width: 800px) {
    .header h1{
        -webkit-text-stroke: 0;
        font-size: 2.3rem;
       
    }
    .content1 img{
    display: none;

    }
    section.about-us p.p1{
        width:100%;
    }
}
@media (max-height:500px) {
    section.Hero{
        height: 550px;
    }
    
}
.cta{
    margin-bottom: 20rem;
    position: relative;
    right: 30%;
}



a.user{
    position: absolute;
    margin-top: 2rem;
    box-shadow:0 0 20px rgb(0, 255, 0);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);;
}

.home-lg a{
    color: white;
    text-decoration: none;
}
h3 a{
    text-decoration: none;
    color: aliceblue;
    position: absolute;
    top: 8%;
    right: 0;
    margin-right: 2rem;
    justify-content: flex-end ;
    display: flex;
    border-radius: .8rem;
    padding: .1rem;
    border: 2px solid greenyellow;
    

}
h3 a:hover{
    /* color: rgb(36, 33, 33);
    background-color: chartreuse;
    transition: all .8s; */
    background: #03f43700;
    color: #5ffd04;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4; */
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


/* sections */

section{
    display: block;
    /* place-items: center; */
    align-content: center;
    min-height: 50vh;
}


/* **********Hero section ************/
section.Hero{
    background: linear-gradient(rgb(0, 0, 0), rgba(113, 255, 47, 0.349));
    height: 100vh;
    display: grid;
    align-content: space-between;
    /* -webkit-text-stroke-color: ; */
}

/* slider section */
.slider-info{
    background: linear-gradient(45deg, black,black, rgba(1, 51, 1, 0.863));
    color: rgb(255, 255, 255);
    display: flow-root;

  }

.slider-info h2{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.media-scroller::-webkit-scrollbar{
    display: none;
}
.media-scroller{
    
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 310px;

    padding: 0 1rem 1rem;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element{
    display: grid;
    gap: .5rem;
    grid-template-rows: min-content;
    padding: .3rem;
    background:linear-gradient(rgba(9, 6, 12, 0.527),rgba(0, 0, 0, 0.38)) ;
    border-radius: 2px;
    
}
.media-element > img{
    inline-size: 100%;
    aspect-ratio: 12 / 9;
    object-fit: cover;
    height: auto;
    width: 100%;
}


.snaps-inline{
    scroll-snap-type: inline mandatory; 

}

.snaps-inline > *{
    /* scroll-snap-align: start; */
    scroll-padding-inline: 1rem;
}    
    
    


.c2{
    grid-auto-columns: 220px;
    color: chartreuse;
}

.c3 .media-element{
    border-radius: 0 0 25px ;
    grid-auto-columns: 215px;
    color: lime;
    
}

.c3 .media-element > img{
    border-radius: 10px;
}

.media-element{
    transform-origin: 50% 65%;
    transition: transform .5s, filter .5s ease-in-out;
    filter: grayscale(0);
    /* -webkit-mask-image: linear-gradient(to bottom, #d5101052, #dbd4d4); */
}

.media-element:hover{
    transform: scale(1.05) ;
    filter: grayscale(0);
    box-shadow: 3px 3px 3px 3px rgba(35, 36, 35, 0.56);
    
}
.media-element p{
    font-size: .8rem;
    font-weight:800;
    color: color(srgb 0.89 0.8 0.67);
}

.media-element p:nth-child(1){
    transition-delay: 200ms;
}
.media-element p:nth-child(2){
    transition-delay: 400ms;
}

.media-element p:nth-child(3){
    transition-delay: 600ms;
}

.media-element p:nth-child(4){
    transition-delay: 700ms;
}
.media-element p:nth-child(5){
    transition-delay: 800ms;
}
.media-element p:nth-child(6){
    transition-delay: 900ms;
}
.media-element p:nth-child(7){
    transition-delay: 1000ms;
}
.media-element p:nth-child(8){
    transition-delay: 1200ms;
}
.media-element p:nth-child(9){
    transition-delay: 2000ms;
}
p.first-image{
    z-index: 1;
    position: absolute;
    display: flex;
    top: 53%;
    left: 13%;
    font-size: xx-large;
}
.wrapper{
    height: 1rem;
    width: 9rem;
    background-color: hsl(22, 100%, 42%);
    z-index: 200;
    position: absolute;
    top: 69%;
    left: 7%;
}
.wrapper_after{
    height: 2rem;
    width: 1rem;
    background-color: #a09219;
    z-index: 200;
    position: absolute;
    top: 55%;
    left: 6%; 
}

/* end slider section */



/* about us section */
section.about-us{
    background-image: url("../images/events.jpg");
    z-index: -1;
    min-height: 60vh;
    margin-bottom: 1rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /* box-shadow: 0 0 7px 1px #ffffff,  0 0 140px 9px #15ff00; */
}
section h2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 1rem;
    margin-top: 2rem;
    
}
.content-container{
    display: flex;
}
.content1{
    display: flex;
    position: relative;
    margin-top: 3rem;
}
section.about-us p.p1{
    box-shadow: 0 0 60px 1px #ffffff,  0 0 140px 9px #ff000c;
    /* -webkit-box-shadow:0 0 20px rgb(0, 255, 21);
    box-shadow:0 0 20px rgb(0, 255, 0); */
    /* border: 2px rgb(37, 37, 37) solid; */
    background: #05091a;
    margin: 1.5rem;
    padding: 1rem;
    height: auto;
    border-radius: 25px;
    word-spacing: .1rem;
    /* letter-spacing: .1rem; */
    white-space: 1rem;
    float: left;
    position: relative;
    display: flex;
}
.content1 img{
    height: 72%;
    width:40%;
    margin-top: inherit;
    margin-left: 32px;
    object-fit: cover;
    position: relative;
    border-radius: 2%;
}

/* services section */
.services{
    position: relative;
    background-color: rgb(250, 4, 250);
    height: 100vh;
}
.service-content{
    position: absolute;
}
.services img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* conclusion section */
.conclusion{
    position:relative;
    height: 54vh;
    background-color: brown;
}
.logos{
    justify-content: center;
    display: flex;
    position: relative;
}
.logos img{
    position: relative;
}

.description-container
{
    top: 4rem;    
    left: 1rem;    
    flex-wrap: wrap; 
    position: relative;
    font-size: x-large;
    font-weight: bolder;
}
.description p{
    font-size: xx-large;
    position: relative;
}
span.middle, span.top, span.bottom{
    position: relative;
    display: flex;
    align-items: flex-end;
}
span.top{
    
}
span.middle{
    font-size: xxx-large;
    color: lime;
}
span.bottom{

}

/* end conclusion */


/* ***************end section********** */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.home{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
    transition: all 2s;
}
.home-lg{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(550%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logo{
    background-size: cover;
    display: flex ;
    flex-direction: column;
    width: 20vw;
    height: 10vh;
    float: left;
    margin-left: 1rem;
    

}


.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}


/* Tree logo glow */

.sankini-logo{
    position: relative;
    display: grid;
    align-content: center;
    place-items: center;
    top: 7%;
   
}
.sankini-logo img{
    color: white;
    width: 4rem;
    height: auto;
}
.light{
    position: absolute;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    filter: blur(10px);
    z-index: -1;
    transition: all 2s;
    animation: glow 2s infinite;
}

@keyframes glow {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }



.title{
    position: relative;
    display: grid;
    justify-items: self-start;
    margin-top: 2rem;
}

